.team-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.3 );
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(0, 0, 0);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.add-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.add-button:hover {
  background-color: #2c974b;
}

